/* =============================================================================
   BODY
   ========================================================================== */
/*<============ETIQUETAS============>*/

body {
    font-family: HelveticaMedium !important;
}
#img-loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: rgb(255 255 255 / 70%);
}

    #img-loading img {
        z-index: 100;
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

.v-btn--disabled.v-btn--icon svg path {
    fill: var(--v-placeholder-base);
}

    .v-btn--disabled.v-btn--icon svg path[stroke^="#"] {
        stroke: var(--v-placeholder-base);
    }

::placeholder {
    color: var(--v-placeholder-base)
}

:-ms-input-placeholder {
    color: var(--v-placeholder-base)
}

::-ms-input-placeholder {
    color: var(--v-placeholder-base)kd
}

.color-texto {
    color: var(--v-texto-base) !important;
}

p {
    color: var(--v-texto-base);
}

td {
    color: var(--v-texto-base);
}

.infoPay {
    background-color: var(--v-focusElement-base);
    border-radius: 10px;
}

.tarjeta-contenedor {
    border-radius: 10px !important;
    border-color: var(--v-border-card-base) !important;
}

.input-number input {
    text-align: end;
}

    .input-number input::placeholder {
        text-align: start;
    }

.v-input--is-readonly .v-input__slot {
    background-color: var(--v-bg-fill-table-base) !important;
}

.v-input--checkbox .v-label {
    font-weight: 500;
}

.v-input__append-inner {
    margin: auto !important
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/*[ini][jtillaguango][CHG-126133-4-2167_1][11-05-2024][Mejoras pago y compra de servicios]*/
.listaServicios .v-expansion-panel-content__wrap {
    padding: 0% 0% 0% 2% !important;
}
.spacingAccions .v-expansion-panel-content__wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-block-end: 1px solid var(--v-background-base) !important;
}
.spacingSubAccions .spacingAccionsWhite .v-expansion-panel-content__wrap {
    height: 35px;
    border-block-start: 0.3px solid var(--v-primary-base) !important;
    padding: 0% 0% 0% 4% !important;
    border-block-end: None !important;
}
/*[fin][jtillaguango][CHG-126133-4-2167_1][11-05-2024][Mejoras pago y compra de servicios]*/

:root {
    scrollbar-color: var(--v-primary-base) transparent !important;
    scrollbar-width: thin !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--v-primary-base);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*menu ACTIVO ICONO*/
.v-list-item--active svg path[fill^="#"] {
    fill: white;
}

.v-list-item--active svg path[stroke^="#"] {
    stroke: white;
}

.switch-registro-beneficiario label {
    font-size: 13px;
}
/*menu contect*/
.v-menu__content {
    background: white;
    border: 1px solid var(--v-border-card-base);
    box-shadow: none;
}

/*end menu contect*/

/*v-list*/
.v-list {
    padding: 10px !important
}

    .v-list .v-list-item:nth-child(odd) {
        background: var(--v-bg-fill-table-base) !important;
    }

/*end v-list*/

/*<============END ETIQUETAS============>*/
/* =============================================================================
   PUBLIC COMPONENTS
   ========================================================================== */
.icon-activado svg path {
    fill: white;
}

.svgTable svg {
    width: 15px;
    height: 15px;
    padding-top: 3px;
}

.listItemCuentas svg {
    position: absolute;
    left: 16px;
    margin: auto;
    top: 8px;
}

/*<============MODALES============>*/
/*MODAL ACTION*/
.dialog-action {
    border-radius: 20px;
}
/*END MODAL ACTION*/
/*MODAL LOADER*/
.v-dialog:has(.modal-loader) {
    display: flex;
    min-height: 100%;
    margin: 0;
}

.modal-loader svg {
    /*animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;*/
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    /*animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;*/
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(900deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(1800deg);
    }
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0.5;
    }
}
/*END MODAL LOADER*/

/*MODAL ACTION*/

.modal-button button {
    height: 40px !important;
}

/*END MODAL ACTION*/

/*<============END MODALES============>*/
/*<============TAJETAS============>*/
/*TARJETA ICONO*/
.tarjeta-icono {
    border: 2px solid var(--v-primary-base) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.contenedor {
    border-radius: 10px !important;
    height: 100%;
}

.tarjeta-seleccionada-sb {
    background: var(--v-primary-base) !important;
    fill: white;
    stroke: white;
    color: white
}

    .tarjeta-seleccionada-sb img {
        filter: brightness(0) invert(1);
    }

    .tarjeta-seleccionada-sb svg path[stroke^="#"] {
        stroke: white;
    }

    .tarjeta-seleccionada-sb p {
        color: white
    }

.contenedor p {
    text-align: center;
    line-height: normal !important;
    font-size: 16px !important;
}

.tarjeta-hover:hover {
    background: var(--v-primary-base) !important;
}

    .tarjeta-hover:hover img {
        filter: brightness(0) invert(1);
    }

    /*.tarjeta-hover:hover svg path[stroke^="#"] {
            stroke: white;
        }*/

    .tarjeta-hover:hover p {
        color: white
    }

.help-card:hover {
    background: var(--v-secondary-lighten5)
}
/*END TARJETA ICONO*/
/*TARJETA CUENTA*/
.tarjeta-cuenta {
    border-color: var(--v-primary-base) !important;
}

    .tarjeta-cuenta:hover .btn-cambiar-cuenta {
        display: block;
    }

.btn-cambiar-cuenta {
    position: absolute;
    top: 1px;
    right: 5px;
    display: none;
}
/*END TARJETA CUENTA*/
.btn-flecha-servicio {
    position: absolute;
    top: 1px;
    right: 5px;
}
/*TARJETA CUENTA CLIENTE*/
.tarjeta-cuenta-cliente {
    border-color: var(--v-primary-base) !important;
}

/*END TARJETA CUENTA CLIENTE*/

/*TARJETA CREDITO PAGO*/
.tarjeta-credito {
    border-radius: 20px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5em;
}

    .tarjeta-credito:hover .btn-cambiar-tarjeta {
        display: block;
    }

.btn-cambiar-tarjeta {
    position: absolute;
    top: 1px;
    right: 5px;
    display: none;
}
/* END TARJETA CREDITO PAGO*/
/*<============END TAJETAS============>*/
/*<============LISTAS============>*/
/*LISTA MENU*/
.tabla-lista-menu tbody tr {
    cursor: pointer;
    border-radius: 5px;
}

    .tabla-lista-menu tbody tr td {
        text-align: center;
    }

    .tabla-lista-menu tbody tr:hover {
        background-color: var(--v-background-base) !important;
    }

.transfer-search:hover {
    background-color: var(--v-background-base) !important;
}

.tabla-lista-menu tbody tr:hover td {
    font-weight: 600;
}
/*END LISTA MENU*/
/*<============END LISTAS============>*/

/*<============END TAJETAS============>*/

/*<============Inicio AppFrame============>*/
.v-toolbar__content {
    width: 100%
}

.pointer {
    cursor: pointer;
}
/*<============END AppFrame============>*/
/*<============CHIP============>*/
.chip-activo {
    background-color: var(--v-primary-base) !important;
    color: white !important;
}

.chip-activo-border {
    border: 2px solid var(--v-primary-base) !important;
    box-shadow: 4px 4px rgb(77 66 66 / 19%);
    background-color: var(--v-primary-lighten5) !important;
}

.chip-generico {
    border-radius: 5px !important;
    border: 1px solid var(--v-primary-base);
    background-color: white;
}
/*<============END CHIP============>*/
/*LINKS*/ /*[ini] [jtillaguango][CHG-91240-4-1655][08-04-2023][Componente de progress lineal]*/
.liks-componente {
    color: var(--v-primary-base) !important;
    font-size: 16px;
    text-decoration: none;
}

    .liks-componente:hover {
        text-decoration: underline;
    }
/*<============END LINKS============>*/
/*STEPPER LINEAL*/
.v-progress-linear {
    height: 7px !important;
}

.v-progress-linear__background {
    height: 50% !important;
    margin: auto !important;
    background-color: var(--v-strokeIcon-base);
}

.v-progress-linear__determinate {
    border-radius: 10px;
    background-color: var(--v-primary-base);
}
/*<============END LINKS============>*/ /*[Fin] [jtillaguango][CHG-91240-4-1655][08-04-2023][Componente de progress lineal]*/

/**AYUDA PRINCIPAL*/
.targetInit {
    border: 2px solid var(--v-primary-base);
    width: 100% !important;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a {
    color: black !important;
    text-decoration: none
}

    a:hover {
        color: var(--v-primary-base) !important;
        text-decoration: underline;
    }
/**AYUDA PRINCIPAL*/

/*<============OTP INPUT============>*/
.otp-input {
    border: 2px solid var(--v-border-card-base);
    flex: none;
    height: 57px !important;
    width: 57px !important;
}

    .otp-input .v-input__slot {
        padding: 0 10px !important;
    }

    .otp-input .v-input__control {
        height: 100% !important;
        min-height: 100% !important;
    }

    .otp-input input {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
/*<============END OTP INPUT============>*/
/* INICIO Simple Tables && Selected && Data Table styles*/
.table th {
    color: var(--v-primary-base) !important;
    font-size: 13px !important;
    border: none !important;
    position: sticky;
    top: 0;
    background: #FFFFFF;
}

.table table tbody tr:nth-child(odd) {
    background: #F6F6F6;
}

.table table tbody tr:nth-child(even) {
    background: #FFFFFF;
}

.table td {
    font-size: 12px !important;
    border: none !important;
}

.table .v-data-table__wrapper::-webkit-scrollbar {
    height: 7px !important;
    width: 6px !important;
}

.table .v-data-table__wrapper::-webkit-scrollbar-thumb {
    max-width: 15px !important;
    background-color: (--v-primary-base) !important;
    border-radius: 20px;
}

.table .v-data-table__wrapper:hover {
    background-color: white !important;
}

.table .v-data-table__wrapper::-webkit-scrollbar-thumb:hover {
    height: 12px !important;
}

.table .v-data-table__wrapper::-webkit-scrollbar:hover {
    height: 12px !important;
}

.v-data-table__checkbox .v-icon {
    color: var(--v-primary-base) !important;
}
/* FIN Simple Tables && Selected && Data Table styles*/
/*Info Alert*/
.alert .v-alert__content {
    display: flex !important;
}

/*IMAGEN ACTIVADA -- SELECCION DE IMAGEN*/
.img-active {
    border: 2px solid var(--v-primary-base) !important;
}
/* INICIO Input Password styles*/
.password input {
    letter-spacing: 3px !important;
}
/* FIN Input Password styles*/
/*INGRESO*/ /*[ini] [jtillaguango][CHG-91240-4-1655][08-04-2023][Nueva vista Login]*/
.container-login {
    padding: 2% 1%;
}

.container-form-login {
    padding: 5% 1% 2% 1%;
}

.txt-primary-color {
    color: var(--v-primary-base);
    font-weight: 600;
}

.txt-normal-color { /*Se usara para el cuerpo de las cards o algun otro elemento*/
    color: var(--v-margin-base) !important;
}

.custom-loader {
    animation: loader 1s infinite;
    display: flex;
}

.v-carousel__controls__item {
    color: var(--v-primary-base) !important;
}

.container {
    max-width: 100% !important;
    min-height: 100% !important;
}

.container-login-sunset-variant {
    background-size: cover 100% !important;
    background-repeat: repeat !important;
    background-attachment: fixed !important;
    height: 100%;
}

.div-content {
    border: 1px solid #8BBD44;
    width: 80px !important;
    height: 80px !important
}

.v-carousel__item {
    margin: auto !important;
    max-height: 90% !important;
}
/*<============FIN INGRESO============>*/
/*SERVICIOS BANCARIOS*/
.text-primary {
    color: var(--v-primary-base) !important;
    font-weight: 500;
}

.container-target {
    width: -webkit-fill-available;
    max-width: 98% !important;
}

    .container-target:hover {
        background-color: #76BC21;
        color: white;
    }

        .container-target:hover a {
            color: white !important;
        }

.border-col {
    border: 2px solid var(--v-primary-base);
    padding-top: 10%;
    max-width: fit-content;
}

a {
    color: black !important;
    text-decoration: none;
    font-weight: 400;
    font-size: large;
}
/*<============FIN SERVICIOS BANCARIOS============>*/
/*[fin] [jtillaguango][CHG-91240-4-1655][08-04-2023][Nueva vista Login]*/
/*RECOVER USER-PASSSWORD*/ /*[fin] [jtillaguango][CHG-91240-4-1655][11-04-2023][Nueva vista Recuperar Conraseña]*/
.menu_otp {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.v-input__prepend-inner {
    padding-left: 10px !important;
    padding-right: 15px !important;
}

.list_number {
    min-width: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background: #F6F6F6 !important;
}

    .list_number .item_menu {
        padding: 0px;
        margin: 0 !important;
        display: flex;
        min-height: 24px;
        flex: 0;
    }

        .list_number .item_menu button {
            font-size: 20px !important;
        }
/*RECUPERA USUARIO*/
.v-input__prepend-inner {
    padding-left: 10px !important;
    padding-right: 15px !important;
}

.img-select-container:hover {
    transform: scale(1.1);
    border: var(--v-primary-base) !important;
}

.img-active {
    background: var(--v-primary-base);
}

    .img-active svg path {
        fill: white !important;
    }

    .img-active div::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        background: var(--v-primary-base);
    }
/*<============RECOVER USER-PASSSWORD============>*/

/*INICIO AYUDA*/

.border-panel {
    border: 1px solid var(--v-strokeIcon-base);
}

.v-item--active .v-expansion-panel-header {
    background-color: var(--v-primary-base) !important;
    color: white;
    border-radius: 8px !important;
    border: none;
}

.v-expansion-panel-header {
    color: black;
}

.v-item--active .v-icon .border-panel {
    color: white !important;
    border: var(--v-disabled-base);
}
/*FIN AYUDA*/

/*Contacto*/
.grupoCiudad {
    max-height: 400px;
    overflow: auto;
}

.infoCiudad {
    max-height: 400px;
    overflow: auto;
}

.chip-sp span {
    width: 100%;
}

.v-application .w-100 {
    width: 100%;
}

.container-brach {
    margin: -45px -0px;
    direction: initial;
}

.chip_custom .v-chip__content {
    justify-content: center !important;
}

.grupoCiudad::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #e0e0e0;
}

    .grupoCiudad::-webkit-scrollbar:vertical {
        width: 7px;
    }

.grupoCiudad::-webkit-scrollbar-button:increment,
.grupoCiudad::-webkit-scrollbar-button {
    display: none;
}

.grupoCiudad::-webkit-scrollbar:horizontal {
    height: 10px;
}

.grupoCiudad::-webkit-scrollbar-thumb {
    background-color: var(--v-primary-base);
    border-radius: 20px;
    border: 2px solid var(--v-surface-base);
}

.grupoCiudad::-webkit-scrollbar-track {
    border-radius: 10px;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

.iconsFullWidth {
    display: flex;
    position: sticky;
    z-index: 20;
    bottom: 50px;
    left: 15px !important;
    justify-content: flex-end;
    padding-right: 150px;
}

@media (max-width: 1000px) {
    .iconsFullWidth {
        padding-right: 25px;
    }
}

@media (max-width: 600px) {
    .iconsFullWidth {
        display: flex;
        position: sticky;
        bottom: 45px;
        align-items: flex-end;
        padding-right: 50px;
    }

    .otp-input {
        height: 40px !important;
        width: 40px !important;
        max-width: 40px !important
    }
}

/*Fin Contacto*/
/*pgContactanos*/
.backgroundContactanos {
    display: flex;
    position: absolute;
    height: 87% !important;
    background-size: contain !important;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    z-index: 9;
}

.asistenteContactanos {
    position: absolute;
    z-index: 10 !important;
    height: auto;
    width: 55% !important;
    right: 0px;
    bottom: 12px;
}
/*FinpgContactanos*/
/*Seguridad*/


/*Seguridad*/
/*Ini Contrato*/
.style3 {
    width: 50px;
}

.style4 {
    width: 170px;
}

.style5 {
    width: 248px;
}

.style6 {
    font-weight: normal;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

    body::-webkit-scrollbar:vertical {
        width: 10px;
    }

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--v-primary-base);
    border-radius: 20px;
    border: 2px solid var(--v-surface-base);
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

.google-map {
    max-width: 100% !important;
    min-width: 100% !important;
}
/*Fin Contrato*/
.selected-tab {
    color: var(--v-primary-base);
    font-weight: 600;
    border: 1px solid var(--v-disabled-base);
    border-radius: 10px 10px 0px 0px;
    width: auto !important;
}

.padding-tab {
    padding: 0 7px 0 7px;
}

.placeholer-text {
    --v-placeholder-base: var(--v-texto-base);
}

.placeholer-disabled {
    --v-placeholder-base: #BDBDBD;
}

.preguntasRegistro {
    font-size: 14px;
}

/*Cuentas*/
.v-input--switch__thumb {
    background: white;
}

.v-input--switch__track {
    opacity: inherit !important;
}

/*[ini][[jtillaguango][CHG-126133-4-2167_1][10-05-2024][Mejoras visuales]*/
.listaServicios .v-expansion-panel-content__wrap {
    padding: 0% 0% 0% 2% !important;
}
.spacingAccions .v-expansion-panel-content__wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-block-end: 1px solid var(--v-background-base) !important;
}
/*[fin][[jtillaguango][CHG-126133-4-2167_1][10-05-2024][Mejoras visuales]*/
/*[ini][jtillaguango][CHG-126133-4-2167_1][10-05-2024][Mejoras pago y compra de servicios]*/
.spacingSubAccions .v-expansion-panel-content__wrap {
    height: 35px;
    border-block-start: 0.5px solid var(--v-background-base) !important;
    padding: 0% 0% 0% 4% !important;
    border-block-end: None !important;
}

.panel-service .v-expansion-panel-header {
    background-color: var(--v-bgGreen-base) !important;
    color: var(--v-secondary-base) !important;
    font-weight: bold;
    & .v-icon

    {
        color: var(--v-primary-base) !important;
    }
}

.panel-service .svg-icon svg{
    width:40px;
}

.svg-servicio svg {
    width: 60px ;
    height: 50px
}
/*[fin][jtillaguango][CHG-126133-4-2167_1][10-05-2024][Mejoras pago y compra de servicios]*/
/*[ini][[jtillaguango][CHG-91240-4-1655][14-06-2023_3[Pago compra de servicios: Lista de servicios]*/
.panel-service .v-expansion-panel {
    border-bottom: 1px solid var(--v-secondary-lighten5);
    margin-top: 0px !important;
     &.v-expansion-panel--active
    {
        margin-bottom: -3px !important;
    }
}
.panel-service-type .v-expansion-panel {
    border-bottom: 2px solid var(--v-background-base);
}
.spacingAccionsWhite .v-expansion-panel-content__wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-block-end: 1px solid var(--v-background-base) !important;
}
.spacingAccionsWhite .v-expansion-panel-header {
    background-color: var(--v-white-base) !important;
}
/*[fin][[jtillaguango][CHG-91240-4-1655][14-06-2023_3[Pago compra de servicios: Lista de servicios]*/
.autocomplete-rounded .v-input__slot {
    border-radius: 10px;
    color: var(--v-background-base) !important;
    background: var(--v-background-base) !important;
}
/*[jafv][20240110][CHG-116842-4-2054][inicio]*/
.close_botton_lddp {
    color: hsla(0,0%,100%,.7);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 50%;
    background-color: #74b625;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
}

.liks-componente_lpda {
    color: var(--v-primary-base) !important;
    font-size: 16px;
    text-decoration: underline;
}

/*[jafv][20240110][CHG-116842-4-2054][inicio]*/
.close_botton_lddp {
    color: hsla(0,0%,100%,.7);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 50%;
    background-color: #74b625;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 30px;
    text-align: center;
}

.liks-componente_lpda {
    color: var(--v-primary-base) !important;
    font-size: 16px;
    text-decoration: underline;
}

/*[jafv][20240110][CHG-116842-4-2054][fin]*/
/*[ini][jtillaguango][CHG-129184-4-2210][13-06-2024][Banner comunicacional: Mejoras sobre la HU]*/
.next-btn .v-window__next {
    right:20px !important;
}
/*[fin][jtillaguango][CHG-129184-4-2210][13-06-2024][Banner comunicacional: Mejoras sobre la HU]*/
